.CartCompleteContainer {
    padding-bottom: 5%;
    display: flex;
    justify-content: space-between;
    background-color: #fff;
}

.Intro {
    text-align: left;
    margin-top: 8%;
    margin-bottom: 3%;
    margin-left: 8.5%;
    font-size: 0.9em;
    width: 50%;
}

.ItemsReview {
    width: 50%;
    margin-left: 4.5%;
}

.Title {
    font-size: 2em;
    font-weight: 350;
}
.PaymentResume {
    margin-top: 9%;
    margin-right: 9%;
    box-shadow: rgba(9, 30, 66, 0.25) 0px 1px 1px, rgba(9, 30, 66, 0.13) 0px 0px 1px 1px;    
    border-radius: 5px;
    width: 25%;
    margin-bottom: 20px;
    height: 470px;
}

.PaymentMethod {
    display: flex;
    justify-content: center;
}

.PaymentTitle {
    margin-top: 5%;
    margin-bottom: 5%;
    font-weight: 350;
}
.Resume {
    display: flex;
    justify-content: space-between;
    padding: 2px 20px 2px 20px;
    font-size: 0.9em;
}

.PaymentMethodImages {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 90%;
    margin-top: 10px;
    height: 200px;
}
.PaymentMethodImages img{
    margin-left: 5px;
    margin-right: 5px;
    width: 40px;
}
.PaymentMethodImages li {
    list-style: none;
}


.BtnDelete, .BtnConfirm {
    width: 150px;
    height: 40px;
    padding: 10px 25px;
    border: 2px solid #000;
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    background: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    margin-left: 2px;
    margin-top: 10px;
    margin-bottom: 15px;
    border: 0.5px solid grey;
    background-color: black;
    color: whitesmoke;
}


.FormOrder {
    height: 100vh;
}

.OrderInProcess {
    margin-top: 25%;
}