.CartCompleteContainer {
    margin-bottom: 5%;
}

.Intro {
    text-align: left;
    margin-top: 8%;
    margin-bottom: 3%;
    margin-left: 8.5%;
    font-size: 0.9em;
    width: 50%;
}
.Title {
    font-size: 2em;
}