.CartCompleteContainer {
    margin-bottom: 5%;
    display: flex;
    justify-content: space-between;

}

.Intro {
    text-align: left;
    margin-top: 8%;
    margin-bottom: 3%;
    margin-left: 8.5%;
    font-size: 0.9em;
    width: 50%;
}

.ItemsReview {
    width: 50%;
    margin-left: 4.5%;
    margin-top: 2%;
}

.Title {
    font-size: 2em;
}
.PaymentResume {
    margin-top: 11%;
    margin-right: 9%;
    box-shadow: rgba(9, 30, 66, 0.25) 0px 1px 1px, rgba(9, 30, 66, 0.13) 0px 0px 1px 1px;    border-radius: 5px;
    width: 25%;
    margin-bottom: 20px;
    height: 600px;
}


.BtnDelete {
    background: white;
    color: black;
    z-index: 1;
}
.BtnDelete:after {
    position: absolute;
    content: "";
    width: 0;
    height: 100%;
    top: 0;
    right: 0;
    z-index: -1;
    background: black;
    transition: all 0.3s ease;
}
.BtnDelete:hover {
    color: white;
}
.BtnDelete:hover:after {
    left: 0;
    width: 100%;
}
.BtnDelete:active {
    top: 2px;
}

.BtnConfirm {
    background: white;
    color: black;
    z-index: 1;
}
.BtnConfirm:after {
    position: absolute;
    content: "";
    width: 0;
    height: 100%;
    top: 0;
    left: 0;
    direction: rtl;
    z-index: -1;
    background: black;
    transition: all 0.3s ease;
}
.BtnConfirm:hover {
    color: white;
}
.BtnConfirm:hover:after {
    left: auto;
    right: 0;
    width: 100%;
}
.BtnConfirm:active {
    top: 2px;
}