.social-bar {
	position: fixed;
	right: 0;
	top: 80%;
	font-size: 1.5rem;
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	z-index: 100;
}

.icon {
	color: white;
	text-decoration: none;
	padding: 0.4rem;
	display: flex;
	transition: all .5s;
}

.icon-facebook {
	background: #3B5998;
}

.icon-whatsapp {
	background: #25D336;
}

.icon-pinterest {
	background: #C8232C;
}

.icon-instagram {
	background: #DD2A7B;
}

.icon:first-child {
	border-radius: 1rem 0 0 0;
}

.icon:last-child {
	border-radius: 0 0 0 1rem;
}

.icon:hover {
	padding-right: 2rem;
	border-radius: 1rem 0 0 1rem;
}