.Item {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 19.2%;
    height: 510px;
    margin: 1%;
    /* box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px; */
}

h6 {
    text-transform: uppercase;
    padding-bottom: 4%;
    font-size: 1em;
}

.ItemImg {
    width: 250px;
    margin-top: 2%;
    border-radius: 2%;
}

.ItemPrices {
    font-weight: bold;
    font-size: 1em;
    margin-top: 8px;
}

.ItemDimensions {
    display: flex;
    justify-content: center;
    padding-left: 7%;
    padding-right: 7%;
    font-size: 0.7em;
    margin-bottom: 5%;
    margin-top: 1%;
}

Link {
    margin-top: 10%;
}

.ItemSeeMore {
    font-size: 0.8em;
    font-weight: 200;
    letter-spacing: 1px;
    padding: 13px 20px 13px;
    outline: 0;
    border: 1px solid black;
    cursor: pointer;
    position: relative;
    background-color: rgba(0, 0, 0, 0);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    z-index: 1;
}

.ItemSeeMore:after {
    content: "";
    background-color: #a0a598;
    width: 100%;
    z-index: -1;
    position: absolute;
    height: 100%;
    top: 6px;
    left: 6px;
    transition: 0.2s;
    z-index: -1;
}

.ItemSeeMore:hover:after {
    top: 0px;
    left: 0px;
}

@media (min-width: 768px) {
    .ItemSeeMore {
        padding: 13px 50px 13px;
    }
}


