.NavBar {
    height: 150px;
    color: black;
    margin-bottom: 2%;
}

.NavBarContent {
    padding-top: 2%;
    margin-right: 4%;
    margin-left: 4%;

}

.NavBarLogo {
    display: flex;
    justify-content: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 1.7em;
}

h2 {
    font-size: 2em;
}

.NavBarMenu {
    display: flex;
    list-style: none;
    font-size: 0.9em;
    text-transform: uppercase;
    justify-content: space-evenly;
    width: 500px;

}

a {
    text-decoration: none;
    color: black;
}

.NavBarIcons {
    display: flex;
    list-style: none;
    justify-content: flex-end;
    margin-right: 5%;
    margin-top: -21px;
}

.SeparationLine1 {
    margin-top: 1.5%;
}

.NavBarMenuContainer {
    display: flex;
    justify-content: center;
    margin-top: 0.5%;
}