.ItemCountButtons {
    display: flex;
    justify-content: center;
    margin-bottom: 5%;
}

/* Buttons + - */
.DecrementButton, .IncrementButton {
    cursor: pointer;
    margin-left: 5%;
    margin-right: 5%;
    border: none;
    color: #090909;
    font-size: 0.9em;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    background: white;
    border: 0.5px solid #e8e8e8;
    transition: all .3s;
    box-shadow: 2px 2px 4px #c5c5c5,
                -2px -2px 4px #ffffff;
}
.DecrementButton:active {
    color: #666;
    box-shadow: inset 2px 2px 4px #c5c5c5,
                inset -2px -2px 4px #ffffff;
}
.IncrementButton:active {
    color: #666;
    box-shadow: inset 2px 2px 4px #c5c5c5,
                inset -2px -2px 4px #ffffff;
}

/* Button .ItemCountAddItems */
:root {
    --duration: 250ms;
    --ease: cubic-bezier(0.215, 0.61, 0.355, 1);
    --space: 1rem;
}

.ItemCountAddItems {
    display: flex;
    width: 100%;
    margin-top: 5%;
}

.ItemCountAddItems {
    font-size: 0.85em;
    font-weight: 250;
    padding:
        calc(var(--space) / 1.125)
        var(--space)
        var(--space);    outline: 0;
    border: 0.5px solid grey;
    cursor: pointer;
    background-color: white;
    text-transform: uppercase;
}

.ItemCountAddItems:hover {
        color: white;
        outline: none;
        background-color: black;
    }

@media (min-width: 768px) {
    .ItemCountAddItems {
        padding: 13px 50px 13px;
    }
}